<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Mr Black</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'Nosotros' %}">Sobre Nosotros</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
                        <a class="navbar-brand" href="{% url 'Locales' %}">Locales</a>
                        <a class="navbar-brand" href="{% url 'Hamburguesas' %}">Hamburguesas</a>
                        <a class="navbar-brand" href="{% url 'Contacto' %}">Contacto</a>
                        {% if request.user.is_authenticated %}
                            <a class="btn btn-primary" href="{% url 'Logout' %}">CERRAR SESIÓN</a>
                            <a class="navbar-brand" href="{% url 'EditarPerfil' %}">{{user.username}}</a>
                            <img src="{{avatar.imagen.url}}" alt="avatar",width="25" , height="50">
                        {% endif %}
                        {% if not request.user.is_authenticated %}
                            <a class="btn btn-primary" href="{% url 'Login' %}">INICIAR SESIÓN</a>  

                        {% endif %}    
                    </ul>    
                    
                </div>
            </div>
        </nav>
        <div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('{% static 'images/hero_1.jpg' %}');">
            <div class="container">
              <div class="row same-height justify-content-center">
                <div class="col-md-12 col-lg-10">
                  <div class="post-entry text-center">
                    <h1 class="mb-4">CONTACTO</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
      
          <div class="site-section bg-light">
            <div class="container">
              <div class="row">
                <div class="col-md-7 mb-5">
                  <form method="post" class="p-5 bg-white">
                    {% csrf_token %}
                    <div class="row form-group">
                      <div class="col-md-6 mb-3 mb-md-0">
                        <label class="text-black" for="fname">Nombre</label>
                        {{ form.nombre}}
                      </div>
                      <div class="col-md-6">
                        <label class="text-black" for="lname">Apellidos</label>
                        {{ form.apellidos }}
                      </div>
                    </div>
      
                    <div class="row form-group">
      
                      <div class="col-md-12">
                        <label class="text-black" for="email">Correo</label>
                        {{ form.correo }}
                      </div>
                    </div>
      
                    <div class="row form-group">
      
                      <div class="col-md-12">
                        <label class="text-black" for="subject">Asunto</label>
                        {{ form.asunto }}
                      </div>
                    </div>
      
                    <div class="row form-group">
                      <div class="col-md-12">
                        <label class="text-black" for="message">Mensaje</label>
                        {{ form.mensaje }}
                      </div>
                    </div>
      
                    <div class="row form-group">
                      <div class="col-md-12">
                        <button type="submit" class="btn btn-primary py-2 px-4 text-white">ENVIAR </button>
                      </div>
                    </div>
      
      
    </head>
    <body>
                    
                
</body>
</html>                