<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="{% url 'Nosotros' %}">Sobre Nosotros</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <a class="navbar-brand" href="{% url 'Inicio' %}">Inicio</a>
                        <a class="navbar-brand" href="{% url 'Locales' %}">Locales</a>
                        <a class="navbar-brand" href="{% url 'Hamburguesas' %}">Hamburguesas</a>
                        <a class="navbar-brand" href="{% url 'Contacto' %}">Contacto</a>
                                                
                        {% if request.user.is_authenticated %}
                            <a class="btn btn-primary" href="{% url 'Logout' %}">CERRAR SESIÓN</a>
                            <a class="navbar-brand" href="{% url 'EditarPerfil' %}">{{user.username}}</a>
                            <img src="{% 'avatar.imagen.url'% }" alt="avatar",width="25" , height="50">
                        {% endif %}
                        {% if not request.user.is_authenticated %}
                            <a class="btn btn-primary" href="{% url 'Login' %}">INICIAR SESIÓN</a>  

                        {% endif %}    
 
                    </ul>    
                    
                </div>
            </div>
        </nav>

        <header>
            <div class="text-center my-5">
                <img class="img-fluid rounded-circle mb-4" src="{%static '../static/assets/img/aboutme2.png'%}" alt="..." height="500" width="800"/>
                <h1 class ="text-black fs-3 fw-bolder" >Somos un equipo de 2 chicas muy talentosas</h1>
                <!-- <p class="text-white-50 mb-0">Landing Page Template</p> -->
            </div>
            <div id="columnas">
                
            <center>
                <h1 style="color: blueviolet;">NAYELY BALCAZAR</h1>
                <h3>
                    <li>Estudiante de 4to grado de secundaria</li>
                    <li>15 años</li>
                    <li>Peruana</li>
                    <li>Estudiante de programación</li>
                    <li>Amante de la tecnologia,matematicas y datos</li>
                    <li>Divertida</li>
                    <li>Encantada de siempre aprender algo nuevo</li>
                </div>
                </h3>
            </center>
           
            <br>
            </div>
            <div align="center">
              
                <h1 style="color:blueviolet;">SOLE IBANEZ</h1>
                <h3>
                <li>Ingenieria Industrial</li>
                <li> 31 años</li>
                <li>Mamá de Vicente</li>
                <li>Curiosa</li>
                <li>Inquieta</li>
                <li>En constante aprendizaje</li>
                </h3>
             
                
                   
            </div>
        </header>

</head>
<body>
    
</body>
</html>